.chatbot-container {
    font-family: Arial, sans-serif;
    background-color: #f8dada;
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 2000px;
    margin: 20px auto;
    border: 1px solid #FF7D9C;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    direction: rtl;
  }
  
  .chatbot-header {
    background-color: #53474F;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
  }
  
  .chatbot-header-icon-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .chatbot-header-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 24% 10%;
    transform: scale(1.3);
  }

  .chatbot-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffecec;
  }
  
  .chatbot-message-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .chatbot-message-container.user-message-container {
    justify-content: flex-end;
  }
  
  .chatbot-message-container.bot-message-container {
    justify-content: flex-start;
  }

  .chatbot-message-icon {
    font-size: 20px;
    flex-shrink: 0;
    color: #FF7D9C;
  }
  
  .chatbot-message {
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
    text-align: right;
    direction: rtl;
  }

  .user-message {
    background-color: #FF7D9C;
    color: white;
}

.bot-message {
  background-color: white;
  border: 1px solid #FF7D9C;
}

.chatbot-input-container {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #FF7D9C;
}
  
.chatbot-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #FF7D9C;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  direction: rtl;
  text-align: right;
  
}
  
  .chatbot-send-button {
    background-color: #FF7D9C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .chatbot-send-button:hover {
    background-color: #ff517a;
  }
  