.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appHeader {
  background-color: #53474F;
  padding: 5px 30px 5px 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.appLogo {
  height: 70px;
}

.appNav {
  display: flex;
  gap: 20px;
}

.appLink {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  background: none; /* Remove button background */
  font-weight: bold;
  transition: color 0.3s ease, transform 0.2s ease;
}

.appLink:hover {
  text-decoration: underline;
  color: #ffd1dc;
  transform: scale(1.05);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 15px;
  background-color: #53474F;
  color: white;
  text-align: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.footer p {
  margin: 0;
}
