.professionalListContainer {
    font-family: Arial, sans-serif;
    background-color: #f8dada;
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 2000px;
    margin: 20px auto;
    border: 1px solid #53474F;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    direction: rtl;
  }
  
  .professionalListHeader {
    background-color: #53474F;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .professionalListHeader h2 {
    font-size: 24px;
  }

  .chatbotHeaderIcon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('/src/assets/professional-support-icon.jpg');
    background-size: cover;
    background-position: 10% 50%;
    background-repeat: no-repeat;
    margin-left: 20px;
    transform: scaleX(-1);
  }
  
  .professionalList {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffecec;
  }
  
  .professionalItem {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }

  .columnContainer {
    display: flex;
    flex-direction: column;
  }

  .rowContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .professionalItem h3 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
  }
  
  .professionalItem p {
    font-size: 16px;
    color: #4a4a4a;
  }
  
  .contactButton {
    background-color: #FF7D9C;
    color: white;
    border: none; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    align-self: center;
  }
  
  .contactButton:hover {
    background-color: #ff517a;
  }
  